.block {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.rest {
	max-width: 600px;
	min-height: 210px;
	border-radius: 30px;
	background-color: #cdcbcb81;
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.07);
	animation-name: blink;
	animation-timing-function: linear;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
