.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.container {
	padding-right: 20px;
	padding-left: 20px;
}

/* main */
.main__top {
	margin-bottom: 20px;
	background: linear-gradient(
			rgba(244, 242, 242, 0.802),
			rgba(244, 242, 240, 0.802)
		),
		url(../../public/img/back-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.main__title {
	margin: 0;
	margin-bottom: 20px;
	color: #3e423a;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.main__img {
	overflow: hidden;
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 600px;
}

.restaurant__title {
	margin: 0;
	margin-bottom: 32px;
	color: #333;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.restaurant__item {
	position: relative;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	min-height: 210px;
	border-radius: 30px;
	background: #d6f7f7;
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.07);
}

.restaurant__item:not(:last-child) {
	margin-bottom: 20px;
}

.restaurant__item:nth-child(2n) {
	background: #fdd;
}

.restaurant__block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.restaurant__text {
	text-align: start;
}

.restaurant__subtitle {
	margin-bottom: 6px;
	color: #333;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.restaurant__span {
	display: inline-block;
	color: #9d9d9d;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.restaurant__link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item__array {
	width: 40px;
	height: 40px;
	fill: #31d6d6;
}

.item__img {
	width: 100%;
	max-width: 120px;
	height: 100%;
	max-height: 120px;
}

/* footer */
.footer {
	background-color: rgba(254, 254, 254, 0.544);
	position: sticky;
	bottom: 0;
	box-shadow: 0px -7px 15px 0px rgba(0, 0, 0, 0.07);
}

.footer__list {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 45px;
}

.footer__link svg {
	width: 24px;
	height: 24px;
}
