.dislike {
	width: 40px;
	height: 40px;
	background-image: url(../../../src/icons/dislike.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.like {
	width: 40px;
	height: 40px;
	background-image: url(../../../src/icons/like.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
